<template>
  <div v-if="windowWidth >= 576" class="side-bar">
    <ul
      class="side-bar__content d-flex flex-column justify-content-around h-50"
    >
      <b-link to="/">
        <li>Página Inicial</li>
      </b-link>
      <b-link to="/products/1">
        <li>Camisetas</li>
      </b-link>
      <b-link to="/products/2">
        <li>Calças</li>
      </b-link>
      <b-link to="/products/3">
        <li>Sapatos</li>
      </b-link>
      <b-link to="#">
        <li>Contato</li>
      </b-link>
    </ul>
  </div>
</template>

<script>
import { screenSize } from '@/mixins/mixin-screensize'

export default {
  name: 'TopBar',
  mixins: [screenSize],
}
</script>
<style lang="scss" scoped>
@import '@/assets/scss/index.scss';
.side-bar {
  background-color: $light-grey;
  width: 100%;
  height: 500px;
  margin-right: 20px;
  &__content {
    li {
      color: $black;
    }
  }
}
</style>
