<template>
  <card-cover>
    <template #card-content>
      <h2>FILTRE POR</h2>
      <h3>Categorias</h3>
      <ul v-for="item in items" :key="item.index" class="category-menu">
        <li>
          <b-link :to="`/products/${item.id}`">
            {{ item.name }}
          </b-link>
        </li>
      </ul>
      <h3>Cores</h3>
      <div class="d-flex">
        <div class="color-filter color-filter__red"></div>
        <div class="color-filter color-filter__orange"></div>
        <div class="color-filter color-filter__cyan"></div>
      </div>
      <h3>Tipo</h3>
      <ul v-for="type in types" :key="type.index" class="filter-type">
        <li>
          <b-link>
            {{ type }}
          </b-link>
        </li>
      </ul>
    </template>
  </card-cover>
</template>

<script>
import { screenSize } from '@/mixins/mixin-screensize'

export default {
  name: 'CategoryFilter',
  mixins: [screenSize],
  props: {
    items: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      types: ['Corrida', 'Caminhada', 'Casual', 'Social'],
    }
  },
}
</script>
<style lang="scss" scoped>
@import '@/assets/scss/index.scss';
h2 {
  font-size: 1.4rem;
  font-weight: 700;
  color: $red;
}
h3 {
  color: $teal;
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.category-menu {
  padding-left: 0;
  list-style: none;
  a {
    color: $dark-grey;
    &::before {
      content: '\2022';
      color: $dark-grey;
      font-weight: bold;
      display: inline-block;
    }
  }
}

.filter-type {
  padding-left: 0;
  list-style: none;
  a {
    color: $dark-grey;
    &::before {
      content: '\2022';
      color: $dark-grey;
      font-weight: bold;
      display: inline-block;
    }
  }
}

// .color-filter {
//   display: flex;
//   list-style: none;
//   &__red {
//     background-color: $red;
//     width: 40px;
//   }
//   &__orange {
//     background-color: $orange;
//     width: 40px;
//   }
//   &__cyan {
//     background-color: $cyan;
//     width: 40px;
//   }
// }
.color-filter {
  width: 40px;
  height: 20px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  &__red {
    background: $red;
  }

  &__orange {
    background: $orange;
  }

  &__cyan {
    background: $cyan;
  }
}
</style>
