<template>
  <div>
    <b-navbar
      v-if="windowWidth >= 576"
      toggleable="sm"
      type="dark"
      variant="primary"
    >
      <b-container>
        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav class="w-100 d-flex justify-content-between">
            <b-nav-item to="/">PÁGINA INICIAL</b-nav-item>
            <b-nav-item to="/products/1">CAMISETAS</b-nav-item>
            <b-nav-item to="/products/2">CALÇAS</b-nav-item>
            <b-nav-item to="/products/3">SAPATOS</b-nav-item>
            <b-nav-item to="#">CONTATO</b-nav-item>
          </b-navbar-nav>
        </b-collapse>
      </b-container>
    </b-navbar>
  </div>
</template>

<script>
import { screenSize } from '@/mixins/mixin-screensize'
export default {
  name: 'Navbar',
  mixins: [screenSize],
}
</script>
<style lang="scss" scoped>
@import '@/assets/scss/index.scss';
.navbar {
  background: $red !important;
  font-weight: 800;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 20px;
  .nav-link {
    color: $white;
  }
}
</style>
