<template>
  <b-button
    class="base-button"
    :disabled="$attrs.disabled"
    v-bind="$attrs"
    v-on="$listeners"
  >
    <slot></slot>
  </b-button>
</template>

<script>
export default {
  name: 'BaseButton',
}
</script>

<style lang="scss">
@import '@/assets/scss/index.scss';

.base-button {
  background-color: $teal;
  border: none;
  &:hover {
    background-color: lighten($teal, 5%);
  }
  &:active {
    background-color: $cyan !important;
  }
  &:focus {
    background-color: $cyan !important;
  }
}
</style>
