@import "variables";

.dropdown {
  button {
    background-color: transparent !important;
    color: $black;
    border: 1px solid $grey;
    height: 30px;
    min-width: 150px;
    text-align: left;
    padding: 0 10px 0 10px;
    &:hover  {
      color: $black;
    }
    &::after {
      margin-left: 100px;
    }
  }
}
