@import "~bootstrap/scss/functions";
// Variables
//
// Color system
$white: #ffffff;
$light-grey: #e2dedb;
$grey: #acacac;
$dark-grey: #808080;
$black: #000000;
$teal: #80bdb8;
$cyan: #26a3a9;
$orange: #f36324;
$red: #cc0d1f !default;

* {
  box-sizing: border-box;
}

@media(max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}


@media(max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body, input, textarea, button {
  font: 400 1rem 'Open Sans', sans-serif;
}
