<template>
  <div class="top-bar">
    <b-container
      class="top-bar__content text-center d-flex justify-content-md-end justify-content-center align-items-center h-100"
    >
      <a class="mr-2" href="#">Acesse sua Conta</a>
      <span>ou</span>
      <a class="ml-2" href="#">Cadastre-se</a>
    </b-container>
  </div>
</template>

<script>
export default {
  name: 'TopBar',
}
</script>
<style lang="scss" scoped>
@import '@/assets/scss/index.scss';
.top-bar {
  background-color: $black;
  width: 100%;
  height: 25px;
  &__content {
    color: $white;
    a {
      color: $white;
      font-weight: 600;
      text-decoration: underline;
    }
  }
}
</style>
