<template>
  <div class="container d-md-flex">
    <CategoryFilter :items="items" class="col-md-3"></CategoryFilter>
    <div class="col-md-9">
      <h1 v-if="currentItem" class="mt-2 mt-md-0 product-page">
        {{ currentItem.name }}
      </h1>
      <hr />
      <div class="sort-by d-flex align-items-center justify-content-between">
        <div class="left d-none d-md-block">a</div>
        <div class="right d-flex align-items-center">
          <span>ordenar por</span>
          <div>
            <b-dropdown id="dropdown-1" text="Preço" class="m-md-2">
              <b-dropdown-item>Preço</b-dropdown-item>
            </b-dropdown>
          </div>
        </div>
      </div>
      <hr />
      <div class="products-list">
        <!-- Loop dos produtos -->
        <template v-if="products.length > 0">
          <div
            v-for="product in products"
            :key="product.index"
            class="products-list__wrapper"
          >
            <card-cover class="products-list__image">
              <template #card-content>
                <b-img :src="require(`@/assets/${product.image}`)"></b-img>
              </template>
            </card-cover>
            <p class="products-list__name">{{ product.name }}</p>
            <template v-if="product.specialPrice">
              <div class="d-flex justify-content-center align-items-center">
                <p class="products-list__oldprice mr-2">
                  R${{ product.price }}
                </p>
                <p class="products-list__price">R${{ product.specialPrice }}</p>
              </div>
            </template>
            <template v-else>
              <p class="products-list__price">R${{ product.price }}</p>
            </template>
            <base-button block>COMPRAR</base-button>
          </div>
        </template>
        <template v-else> Não há produtos </template>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { mapActions } from 'vuex'
export default {
  name: 'Products',
  async fetch() {
    await this.fetchCategoryMenu()
    await this.getProducts(this.$route.params.id)
  },
  computed: {
    products() {
      return this.$store.state.products.product || []
    },
    items() {
      return this.$store.state.products.categoryMenu || []
    },
    currentItem() {
      const itemsArray = this.$store.state.products.categoryMenu || []
      const id = this.$route.params.id
      const item = itemsArray.find((item: any) => item.id.toString() === id)
      return item
    },
  },
  methods: {
    ...mapActions({
      getProducts: 'products/getProducts',
      fetchCategoryMenu: 'products/getCategoryMenu',
    }),
  },
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/index.scss';
.product-page {
  font-size: 1.5rem;
  color: $red;
}

.sort-by {
  span {
    font-weight: 600;
    color: $grey;
    text-transform: uppercase;
    font-size: 0.9rem;
  }
}

.products-list {
  flex: 1;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-auto-rows: 1fr;
  gap: 1rem;
  align-content: center;
  &__image {
    img {
      height: 200px;
      display: block;
      margin: 0 auto;
    }
  }
  &__name {
    color: $dark-grey;
    font-size: 1.1rem;
    text-transform: uppercase;
    text-align: center;
    margin: 10px;
  }

  &__price {
    color: $red;
    font-weight: 800;
    font-size: 1.2rem;
    text-align: center;
  }
  &__oldprice {
    text-decoration: line-through;
    color: $dark-grey;
    font-size: 1rem;
  }

  .base-button {
    margin-top: auto;
    display: block;
    font-weight: 800;
  }
}
</style>
