<template>
  <b-container>
    <div class="footer"></div>
  </b-container>
</template>

<script>
export default {
  name: 'Footer',
}
</script>
<style lang="scss" scoped>
@import '@/assets/scss/index.scss';

.footer {
  margin-top: 20px;
  background-color: $red;
  width: 100%;
  height: 150px;
}
</style>
