<template>
  <div class="card-cover">
    <slot name="card-content"></slot>
  </div>
</template>

<script>
import { screenSize } from '@/mixins/mixin-screensize'
export default {
  name: 'CardCover',
  mixins: [screenSize],
}
</script>
<style lang="scss" scoped>
@import '@/assets/scss/index.scss';
.card-cover {
  border: 1px $light-grey solid;
  padding: 20px;
  width: 100%;
}
</style>
