<template>
  <div>
    <top-bar></top-bar>
    <b-container class="d-flex align-items-center">
      <b-navbar-brand
        class="d-flex justify-content-center justify-content-md-start col-md-7"
        to="/"
      >
        <b-img
          src="@/assets/media/webjumplogo.jpg"
          class="navbar-logo"
          alt="Logo WeJump!"
        ></b-img>
        <span class="sr-only">Início</span>
      </b-navbar-brand>
      <search-field class="col-md-5"></search-field>
    </b-container>
    <navbar></navbar>
    <Nuxt />
    <Footer></Footer>
  </div>
</template>
<style lang="scss" scoped></style>
