<template>
  <div v-if="windowWidth >= 576" class="d-flex">
    <b-input
      class="search-field"
      :placeholder="$attrs.placeholder || 'Buscar por palavra-chave'"
      v-bind="$attrs"
      v-on="$listeners"
      @keypress.enter="$emit('search', $attrs.value)"
    >
    </b-input>
    <b-button squared variant="danger">BUSCAR</b-button>
  </div>
  <div v-else>
    <i class="fas fa-search"></i>
  </div>
</template>

<script>
import { screenSize } from '@/mixins/mixin-screensize'
export default {
  name: 'SearchField',
  mixins: [screenSize],
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/index.scss';
.search-field {
  border-radius: 0;
  width: 100%;
}
.button {
  background-color: $red;
  border-radius: 0;
}
</style>
